[Desktop Entry]
Version=1.0
Type=Application
Name=Xem YouTube bằng VLC
GenericName=YouTube VLC Player
Comment=Trình phát YouTube giao diện GTK3 trực tiếp trên VLC
Exec=yt-vlc %U
Icon=vlc
Terminal=false
Categories=AudioVideo;Player;Network;
Keywords=youtube;vlc;video;streaming;
StartupNotify=true
MimeType=x-scheme-handler/vnd.youtube;
